*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.my-body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    width: 100%;
  }
  .nav-icon{
    display: none;
  }
  .header{
    margin-bottom: 5px;
  }
.my-nav{
    background-color:rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    
  
    }
    .list{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 810px;
        
    
    }
    li {
        margin: 0px 20px;
        list-style: none;
        color: black;
    }
    li a{
        text-decoration: none;
        color: black;
    }
    .my-hero-section{
        background-image: url(./img/Image\ \(1\).png);
        background-position: center;
        height:100vh;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

    }
    .myhero h1{
        font-size: 30px;
        margin-bottom: 5px;
    }
    .myhero{
        border-radius: 30px;
        width: 25%;
        height: 30%;
        background-color: white;
        padding: 10px 10px 15px 70px;
        position: absolute;
        top: 180px;
        left: -60px;

    }
   
    .my-future-section{
        margin: 2rem 2rem 2rem 2rem;
        display: flex;
        width: 100%;
       
    }
    .my-hero-section{
        width: 100%;
    }
    .my-feature{
        width: 100%;
    }
  
  .left--side{
    display: grid;
    grid-template-columns: auto auto;
    background-color: rgb(243, 243, 243);
  }
.right-side{
    background-color: rgb(243, 243, 243);
    border-radius: 0px 35px 35px 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec p{
    font-size: 1.5rem;
    }
    .card{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-top: 2rem;
        margin-bottom: 2rem;
    
    }
    .card1{
        padding: 18px;
        border-radius: 5%;
        flex: 25%;
        background-color: aliceblue;
    
    
    }
    .icon{
        width: 3rem;
    }





    @media(max-width: 768px) {

        .nav-icon{
            display: none;
        }
        .list{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: 200px;
            
        
        }
        li {
            margin: 0px 20px;
            list-style: none;
            color: black;
        }
            .my-hero-section{
                background-image: url(./img/Image\ \(1\).png);
                background-position: center;
                height:100vh;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
        
            }
            .myhero h1{
                font-size: 1.2rem;
                margin-bottom: 5px;
            }
            .myhero{
                border-radius: 30px;
                width: 50%;
                height: 30%;
                background-color: white;
                padding: 0rem 0rem 1rem 2rem;
                position: absolute;
                top: 8rem;
                left: -2rem;
        
            }
           
            .my-future-section{
                margin: 2rem 2rem 2rem 2rem;
                display: flex;
               
            }
            .myhero h1{
                font-size: 2rem;
              

                
            }
            .myhero p{
                font-size: 1rem;
            }
          .left--side{
            display: grid;
            grid-template-columns: auto auto;
            background-color: rgb(243, 243, 243);
            border-radius: 2rem 0rem 0rem 2rem;
          }
          .my-img{
            
            width: 10rem;
            padding: 0px 0px 0px 0px;
        
        }
        .right-side{
            background-color: rgb(243, 243, 243);
            border-radius: 0px px 20px 0px;
            justify-content: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;

        }
        .sec{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        
        }
        .sec p{
            font-size: 1.2rem;
        }
        .card{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            margin-top: 1rem;
            margin-bottom: 1.5rem;
        
        }
        .card1{
            padding: 1rem;
            border-radius: 5%;
            flex: 25%;
            background-color: aliceblue;
        
        }
        .icon{
            width: 1.5rem;
            padding: 0;
        }
        .card1 h1{
            font-size: 0.8rem;
        }
        .card1 p{
            font-size: 0.5rem;
        }
        
    }



    
    @media (max-width: 425px){
        .list{
            display: none;
            
        }
        .logo{
            margin-right: 6rem;
        }
        .nav-icon{
            display: contents;

    
            
            
        }
        .my-nav{
        background-color:rgb(252, 252, 252);
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        
            }
        .my-hero-section{
        background-image: url(./img/Image\ \(1\).png);
        position: relative;
        background-position: center;
        background-size: cover;
        
            }
           
            .myhero{
                border-radius: 0rem 1.5rem 1.5rem 0rem;
                background-color: white;
                position: absolute;
                width: 70%;
                height: 30%;
                top: 3rem;
                left: 1rem;
    
            }
            .myhero h1{
                font-size: 1.5rem;
              
            }
            .myhero p{
                font-size: 1rem;
            }
            .my-future-section{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 1rem;
                width: 90%;
                
            

            }
          
               
            .left--side{
                display: grid;
                grid-template-columns: auto auto;
                background-color: rgb(243, 243, 243);
                border-radius: 2rem 0rem 0rem 2rem;
            
        
        
              }
              .my-img{
                
                width: 10.5rem;
                padding: 0px 0px 0px 0px;
            
            }
            .right-side{
                background-color: rgb(243, 243, 243);
                text-align: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                border-radius: 0px 0px 20px 20px;
                margin: auto auto;
                align-self: center; 
                height: 14rem;
                margin: 0rem 1.5rem 0rem 1.5rem;
            }
            .right-side h1{
                font-size: rem;
                padding: 1.5rem;
                margin: 0rem 2rem 0rem 2rem;
            }
            .right-side p{
                font-size: 0.9rem;
               
            }
            .sec{
                display: flex;
                justify-content: center;
                margin: 1rem;
                width: 80%;
                margin: 0rem 2rem 0rem 2rem;
        
            }
            .sec h1{
             text-justify: center; 
             font-size: 1.1rem;  
            }
            .sec p{
             text-justify: center;
             font-size: 1rem;   
            }
            .card{
                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                gap: 1rem;
                margin: 1rem;
    
            
            }
            .card1{
                width: 300px;
                height: 150px;
                background-color: #E2F1E8;
                border-radius: 15px;
                padding: 20px;
            
            
            }
        
        .icon{
            width: 1rem;
        }
    }

    @media  (max-width: 365px) {
        .list{
            display: none;
            
        }
        .logo{
            margin-right: 6rem;
        }
        .nav-icon{
            display: contents;

    
            
            
        }
        .my-nav{
        background-color:rgb(252, 252, 252);
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        
            }
        .my-hero-section{
        background-image: url(./img/Image\ \(1\).png);
        position: relative;
        background-position: center;
        background-size: cover;
        
            }
           
            .myhero{
                border-radius: 0rem 1.5rem 1.5rem 0rem;
                background-color: white;
                position: absolute;
                width: 70%;
                height: 30%;
                top: 3rem;
                left: 1rem;
        
            
        
        
            }
            .myhero h1{
                font-size: 1.5rem;
              

                
            }
            .myhero p{
                font-size: 1rem;
            }
            .my-future-section{
                display: block;
                margin: 1rem 1rem 1rem 1rem;
            

            }
          
          .left--side{
            display: grid;
            grid-template-columns: auto auto;
            margin-bottom: -0.4rem;
            background-color: rgb(243, 243, 243);
    
          }
          .my-img{
            
            width: 9rem;
            padding: 0px 0px 0px 0px;
        
        }
        .right-side{
            background-color: rgb(243, 243, 243);
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            border-radius: 0px 0px 20px 20px;
            margin: auto auto;
            align-self: center;
            height: 14rem;
        }
        .right-side h1{
            font-size: rem;
            padding: 0.5rem;
        }
        .right-side p{
            font-size: 0.6rem;
           
        }
        .sec{
            display: flex;
            justify-content: center;
            margin: 2rem 2rem 2rem 2rem;
    
        }
        .sec h1{
         text-justify: center; 
         font-size: 1rem;  
        }
        .sec p{
         text-justify: center;
         font-size: 0.7rem;   
        }

    }

    